#cuerpo
{
    background:url(img/fondo1.gif);
    cursor:url('img/flag.ico'),url('img/cursor.cur'),pointer;
}
#lista1
{
    list-style-type:decimal;
    color:red;
    font-size:30;
    font-family:impact;
}
#lista2
{
    list-style-type:circle;
    color:green;
    font-size:30;
    font-family:impact;
}
#lista3
{
    list-style-type:lower-greek;
    color:#FCA916;
    font-size:30;
    font-family:impact;
}
table
{
    width:80%;
    height:200;
    color:red;
    font-size:40;
    font-family:arial;
}
th 
{
    text-align:left;
    border-bottom:5px solid red !important;
    color:#FCA916;
    font-size:30;
    font-family:impact;
}
td
{
    text-align: left;
    border-bottom:1px solid red !important;
    color:green;
    font-size:20;
    font-family:impact;
}
#caption1
{
    font-size:60;
    font-family:impact;
    color:red;
}
.img
{
    width:100;
    height:100;
}
.img2
{
    width:20;
    height:20;
}